application/logs/*
phpqrcode/*
phd_admit_cards/*
barcodes/*
application/views/Hostel050718/*
application/views/Examination_old/*
application/views/Hostel260318/*
application/views/result_reval2823/*
application/views/Staff_payment_1-11-2018/*
/application/vendor/
**.bak
student_document/*
uploads/*
application/config/database.php
application/config/config.php
'application/models/Eventlecturemodel.php'