<IfModule mod_rewrite.c>
    RewriteEngine On

    # Correct base URL for your project
    RewriteBase /onlineerpdummy/
    Header always unset X-Powered-By
    Header unset X-Powered-By

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

php_value max_input_vars 100000